/* Animations */

.fade-in-from-top {
	-webkit-animation-name: fade-in-from-top;
	-webkit-animation-duration: 1.33s; 

	-moz-animation-name: fade-in-from-top;
	-moz-animation-duration: 1.33s; 
}

@-webkit-keyframes fade-in-from-top {
	0% {
		opacity: 0;
		-webkit-transform: translateY(-40px);
	}

	100% {
		opacity: 1;
		-webkit-transform: translateY(0);
	}
}

.fade-in-delay {
	-webkit-animation-name: fade-in;	
	-webkit-animation-duration: 2.66s;
	-webkit-animation-delay: 1.22s;
	-webkit-animation-fill-mode: backwards;

	-moz-animation-name: fade-in;	
	-moz-animation-duration: 2.66s;
	-moz-animation-delay: 1.22s;
	-moz-animation-fill-mode: backwards;
}

.fade-in-delay1 {
	-webkit-animation-name: fade-in;	
	-webkit-animation-duration: 2.5s;
	-webkit-animation-delay: 0.5s;
	-webkit-animation-fill-mode: backwards;

	-moz-animation-name: fade-in;	
	-moz-animation-duration: 2.5s;
	-moz-animation-delay: 0.5s;
	-moz-animation-fill-mode: backwards;
}

.fade-in-launch {
	-webkit-animation-name: fade-in;	
	-webkit-animation-duration: 1.5s;
	-webkit-animation-fill-mode: backwards;	
}


@-webkit-keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.increase{
	-webkit-transition: 0.5s ease;
}

.increase:hover {
	-webkit-transform: scale(1.1, 1.1);	
}

.header-in {
	-webkit-animation-name: header-in;	
	-webkit-animation-duration: 1s;
	-webkit-animation-delay: 1.66s;
	-webkit-animation-fill-mode: backwards;
}

@-webkit-keyframes header-in {
	0%{
		-webkit-transform: translateY(-80px);
	}

	100% {
		-webkit-transform: translateY(0);
	}
}

.footer-in {
	-webkit-animation-name: footer-in;	
	-webkit-animation-duration: 1s;
	-webkit-animation-delay: 2s;
	-webkit-animation-fill-mode: backwards;
}

@-webkit-keyframes footer-in {
	0%{
		-webkit-transform: translateY(60px);
	}

	100% {
		-webkit-transform: translateY(0);
	}
}
