/*Page background form subtlepatterns.com 
Chack it out, it's good stuff :)*/

body {
	background-image: url("../img/handmadepaper.png");
	background-repeat: repeat;
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}

hr {
	background: maroon;
	border-color: maroon;
}

a {
	color: maroon;
	text-decoration: none;
}

i {
	color: maroon;
	font-size: 24pt;
}

a:hover {
	color: navy;
}

.headroom {
	height: 90px;
}

.container {
	margin: 0 auto;
	text-align: justify;
	background-color: white;
	border-radius: 5px;
	width: 650px;
	padding: 20px;
}

.contact {
	display: inline-block;
	width: 150px;
	font-size: 32pt;
	text-align: right;
	height: 60px;
	position: absolute;
	right: 0px;
}

.header {
	margin: auto;
	position: relative;
}

.me-image {
	width: 60px;
	height: 60px;
	border-radius: 30px;
	vertical-align: middle;
	display: inline-block;
}

.title {
	font-size: 32pt;
	vertical-align: middle;
	display: inline-block;
	margin-left: 20px;
	color: maroon;
	height: 60px;
	/*width: 50%;*/
}

.extra-links {
	text-align: center;
	margin: auto;
}

@media (max-width: 650px) {

	.container {
		width: 90%;
	}

	.me-image {
		display: none;

	}

	.contact {
		width: 100px;
	}

	.title {
		font-size: 24pt;
		
	}

	i {
		font-size:18pt;
	}

}
