body {
	color: $black;
	margin: 0;
	@include sans;
}

header {
	margin-top: 60px;

	@media (max-width: 550px) {
		margin-top: 15px;
	}
}

hr  {
	width: 100px;
	height: 2px;

	margin-top: $tb;
	margin-bottom: $tb;

	background-color: $black;
	border: 0;
}

p {
	@include serif;
}

.intro {
}

.container {
	width: 76%;
	max-width: 700px;
	margin: 0 auto;
	padding: 0;
}

.title {
	font-size: 42pt;
	line-height: 100%;
	font-weight: 500;

	text-align: center;

	margin-top: $tb;
	margin-bottom: $tb;

	@media (max-width: 550px) {
		font-size: 28pt;
	}
}

.subtitle {

	margin-top: 2*$tb;
	maring-bottom: $tb;
	font-style: italic;
	@include serif;
	font-weight: 100;
	text-align: center;
	color: $red;
}

.social-links {
	margin: 0 auto;
	margin-top: $tb;
	margin-bottom: $tb;
	text-align: center;
}

.social {
	display: inline-block;
	margin: 15px;
	width: 40px;	
	color: $gray;
	font-size: 18pt;
	text-decoration: none;

	&:hover {
		color: $red;
	}

	@media (max-width: 550px) {
		width: 30px;
		font-size: 16pt;
	}
}

.hello {
	margin-top: 50px;
	margin-bottom: 0;
	@include serif;
	font-weight: 100;
}

.topic {
	
	$h: 40px;	

	display: inline-block;
	width: 130px;
	height: $h;
	margin: 15px 15px $tb 15px;

	border: {
		color: $gray;
		width: 1px;
		style: solid;
	}

	text-decoration: none;
	color: $black;

	&:hover {
		color: $red;
	}

	font-size: 16pt;
	font-weight: 100;
	line-height: $h;
	text-align: center;
}