$black: rgba(50, 50, 50, 1);
$gray: rgba(126, 126, 126, 1);
$grey: $gray;
$red: #714149;
$blue: #84c8ec;
$white: #f2f1f3;

$margin_small: 5px;
$margin: 25px;
$tb: 25px;
$p: 16pt;

@mixin serif {
	font-family: "PT Serif", Georgia, Times New Roman, serif;
}

@mixin sans {
	font-family: "Lato", Gotham, Helvetica, sans-serif;
}

// COLORS

.spotify {
	background-color: #2FD565;
}

.twitter {
	background-color: #55acee;
}

.github {
	background-color: #4183c4;
}

.behance {
	background-color: #1769ff;
}

.flickr {
	background-color: #ff0084;
}
