$black: rgba(50, 50, 50, 1);
$gray: rgba(126, 126, 126, 1);
$red: #714149;

$tb: 25px;


@mixin serif {
	font-family: Charter, Times New Roman, serif;
}

@mixin sans {
	font-family: Gotham Narrow, Helvetica, sans-serif;
}