body {
  font-family: 'Inconsolata', monospace;
  color: rgb(236, 236, 236);
  background-color: rgb(47, 46, 45);
  margin: 0;
}

.parent {
  max-width: 80%;
  width: 600px;
  margin: auto;
}

.main {
  margin-top: 50px;
}

.parent.locked {
  position: relative;
  min-height: 100vh;
}

#window {
  max-height: 1000px;
  transition: all 0.3s
}

.container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.title  {
  font-size: 36pt;
  font-weight: 800;
}

.subtitle {
  font-size: 20pt;
  font-weight: 800;
}

@media (max-width: 550px) {
    .title {
      font-size: 22pt;
      font-weight: heavy;
    }

    .subtitle {
      font-size: 18pt;
    }
}

p {
  margin: 0;
  margin-bottom: 20px;
  line-height: 140%;
  font-size: 14pt;
}

a {
  color: rgb(236, 236, 236);
  text-decoration: none;
  transition: all 0.3s
}

a:hover {
  color: #33b5e5;
}


.content a {
  color: rgb(236, 236, 236);
  box-shadow: inset 0 -3px 0 #33b5e5;;
}

.content a:hover {
  color: #323232;
  background-color: #33b5e5;
}
