a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

a:hover {
  text-decoration: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: Helvetica,Arial,Sans-Serif; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.spotify {
  background-color: #2FD565; }

.twitter {
  background-color: #55acee; }

.github {
  background-color: #4183c4; }

.behance {
  background-color: #1769ff; }

.flickr {
  background-color: #ff0084; }

body {
  margin: 0;
  padding: 0; }

.container {
  width: 85%;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 150px; }
  @media (max-width: 550px) {
    .container {
      margin-top: 15px; } }

body {
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
  -webkit-animation: in 0.6s ease-in;
  -moz-animation: in 0.6s ease-in;
  animation: in 0.6s ease-in; }

@-webkit-keyframes in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
body {
  color: #323232;
  background-color: #f2f1f3;
  font-family: "Lato", Gotham, Helvetica, sans-serif; }

p a {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #323232;
  text-decoration: none;
  paddin: 0 5px;
  box-shadow: inset 0 -5px 0 #84c8ec; }
  p a:hover {
    background-color: #84c8ec; }

p {
  font-family: "PT Serif", Georgia, Times New Roman, serif;
  line-height: 22pt;
  font-size: 16pt;
  margin-bottom: 25px; }

h1 {
  font-size: 42pt;
  line-height: 100%;
  font-weight: 900;
  margin-top: 5px; }
  @media (max-width: 550px) {
    h1 {
      font-size: 32pt; } }

h3 {
  margin: 25px 0 25px 0; }

.il {
  padding-right: 40px;
  float: left; }

h2 {
  font-size: 24pt;
  font-weight: 900;
  margin-bottom: 25px; }

.social {
  font-size: 16pt; }
  .social a {
    color: #323232; }

.link-standalone {
  -webkit-transition: color 0.2s ease, border 0.2s ease;
  -moz-transition: color 0.2s ease, border 0.2s ease;
  transition: color 0.2s ease, border 0.2s ease;
  margin-bottom: 25px;
  margin-right: 25px;
  display: inline-block;
  padding: 10px;
  color: #323232;
  width: 130px;
  text-align: center;
  text-decoration: none;
  border-color: #323232;
  border-width: 1px;
  border-style: solid; }
  .link-standalone.extend {
    width: auto; }
  .link-standalone:hover {
    color: #84c8ec;
    border-color: #84c8ec; }

/*# sourceMappingURL=main.css.map */
