a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline; }

a:hover {
  text-decoration: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;
  font-family: Helvetica,Arial,Sans-Serif; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.spotify {
  background-color: #2FD565; }

.twitter {
  background-color: #55acee; }

.github {
  background-color: #4183c4; }

.behance {
  background-color: #1769ff; }

.flickr {
  background-color: #ff0084; }

body {
  margin: 0;
  padding: 0; }

.container {
  width: 85%;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 150px; }
  @media (max-width: 550px) {
    .container {
      margin-top: 15px; } }

body {
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  transition: background-color 0.2s;
  -webkit-animation: in 0.6s ease-in;
  -moz-animation: in 0.6s ease-in;
  animation: in 0.6s ease-in; }

.hide {
  opacity: 0; }

.r {
  color: #323232 !important; }

.left {
  -webkit-animation: left 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  -moz-animation: left 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
  animation: left 0.5s cubic-bezier(0.215, 0.61, 0.355, 1); }

@-webkit-keyframes left {
  from {
    -webkit-transform: translate(100%, 0); }
  to {
    -webkit-transform: translate(0, 0); } }
@-moz-keyframes left {
  from {
    -moz-transform: translate(100%, 0); }
  to {
    -moz-transform: translate(0, 0); } }
@keyframes left {
  from {
    -webkit-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
    transform: translate(100%, 0); }
  to {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); } }
@-webkit-keyframes in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-webkit-keyframes up {
  from {
    -webkit-transform: scale(10, 10); }
  to {
    -webkit-transform: scale(1, 1); } }
@-moz-keyframes up {
  from {
    -moz-transform: scale(10, 10); }
  to {
    -moz-transform: scale(1, 1); } }
@keyframes up {
  from {
    -webkit-transform: scale(10, 10);
    -moz-transform: scale(10, 10);
    -ms-transform: scale(10, 10);
    -o-transform: scale(10, 10);
    transform: scale(10, 10); }
  to {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); } }
body {
  color: #323232;
  background-color: white;
  font-family: "Lato", Gotham, Helvetica, sans-serif; }

a {
  -webkit-transition: color 0.2s ease;
  -moz-transition: color 0.2s ease;
  transition: color 0.2s ease;
  color: #323232; }
  a:hover {
    color: #33b5e5; }

p {
  font-family: "PT Serif", Georgia, Times New Roman, serif;
  line-height: 21pt;
  font-size: 16pt;
  margin-bottom: 25px; }

.title {
  font-size: 42pt;
  line-height: 100%;
  font-weight: 900;
  margin-top: 5px; }
  @media (max-width: 550px) {
    .title {
      font-size: 32pt; } }

.subtitle {
  margin: 25px 0 25px 0; }

.il {
  padding-right: 20px;
  padding-left: 20px;
  float: left; }

.f {
  padding-left: 0 !important; }

.section-title {
  font-size: 24pt;
  font-weight: 500;
  margin-bottom: 25px; }

.hmu {
  margin-bottom: 25px; }

.social {
  font-size: 16pt; }
  .social a {
    color: #323232; }

.link-standalone {
  -webkit-transition: color 0.2s ease, border 0.2s ease;
  -moz-transition: color 0.2s ease, border 0.2s ease;
  transition: color 0.2s ease, border 0.2s ease;
  margin-bottom: 25px;
  margin-right: 25px;
  display: inline-block;
  padding: 10px;
  color: #323232;
  width: 130px;
  text-align: center;
  text-decoration: none;
  border-color: #323232;
  border-width: 1px;
  border-style: solid; }
  .link-standalone.extend {
    width: auto; }
  .link-standalone:hover {
    color: #33b5e5;
    border-color: #33b5e5; }

.back {
  margin-bottom: 25px;
  display: inline-block;
  text-decoration: none; }
  .back:before {
    content: "< "; }

/*# sourceMappingURL=main.css.map */
