<div class="about">
	<a ng-click="back()" href="" class="back">BACK</a>
	<h2  id="about" class="section-title">Allow me to introduce myself.</h2>

	<p>I'm Matt Faluotico. Which I'm sure you assumed by now. I study Computer Science & Engineering at The Ohio State University. Most of my work is visual in some sort of way – I like seeing the results. I throw most of my work on GitHub.</p>

	<p>I spend a lot of time listening, making, and sharing to music. Really, a lot of time. Follow me on Spotify, and I'll send you some something.</p>

	<p>Right now, I'm interning at JPMorgan Chase in San Francisco. Our interm team is rewriting the departments testing stack. Upon returning home, I'll be graduating from OSU, at which time I'll be looking for work. If you have an awesome gig, I would love to hear about it.</p>

	<div class="links">
		<a class="link-standalone extend" id="intouch" href="mailto:matt.faluotico@gmail.com">Let's get in touch</a>
	</div>
</div>
