<header>
	<div class="name">
		<h1 class="title">Hello there,</h1>
		<h1 class="title" id="name">I'm Matt Faluotico</h1>
	</div>
	<h2 class="subtitle">I'm an iOS and web developer from Columbus, OH. I'm currently living in San Francisco working for JPMorgan Chase.</h2>
</header>
<div class="social-networks">
	<a class="social" href="https://twitter.com/mattfaluotico"><i class="fa fa-twitter fa-lg"></i></a>
	<a class="social" href="https://github.com/MattFaluotico"><i class="fa fa-github fa-lg"></i></a>
	<a class="social" href="http://open.spotify.com/user/mpfal"><i class="fa fa-spotify fa-lg"></i></a>
	<a class="social" href="https://www.behance.net/mattfaluotico"><i class="fa fa-behance fa-lg"></i></a>
	<a class="social" href="https://www.flickr.com/photos/104908637@N03/"><i class="fa fa-flickr fa-lg"></i></a>
</div>
<div class="links">
	<a class="link-standalone" id="about-button" href="#/bio">Bio</a>
	<a class="link-standalone" id="about-button" href="mailto:matt.falutocio@gmail.com">Talk to me</a>
</div>