<header>
	<script src="js/intro.js"></script>
	<div class="name">
		<h1 class="title">Hello there,</h1>
		<h1 class="title" id="name">I'm Matt Faluotico</h1>
	</div>
	<p class="subtitle">I'm an iOS and web developer from Columbus, OH. Recently I've been coding up things different designers make on Dribbble. Check them out on Codepen.
	</p>
</header>
<div class="hmu">
	<a class="link-standalone" id="about" href="#/bio">Bio</a>
	<a class="link-standalone" id="work" href="#/work">Work</a>
</div>
<div class="social">
	<a
		class="il f"
		style="color: #00aced;"
		href="https://twitter.com/mattfxyz"><i class="fa fa-twitter fa-lg"></i></a>
	<a
		class="il"
		style="color: #4183c4;"
		href="https://github.com/mattfxyz"><i class="fa fa-github fa-lg"></i></a>
	<a
		class="il"
		href="http://codepen.io/MattFaluotico/"><i class="fa fa-codepen fa-lg"></i></a>
	<a
		class="il"
		style="color: #2ebd59"
		href="https://open.spotify.com/user/mpfal"><i class="fa fa-spotify fa-lg"></i></a>
	<a
		class="il"
		style="color: #1769ff"
		href="https://www.behance.net/mattfaluotico"><i class="fa fa-behance fa-lg"></i></a>
	<a
		class="il"
		style="color: #ff0084"
		href="https://www.flickr.com/photos/mattfaluotico/"><i class="fa fa-flickr fa-lg"></i></a>
</div>
