<a ng-click="back()" href="" class="back">BACK</a>
<h2  id="work" class="section-title">Some of my recent work.</h2>

<p><a href="http://hack.osu.edu">OHI/O</a> – The branding site for the OHI/O hackathon at Ohio State. It's built on AngularJS and uses <a href="http://chriszarate.github.io/sheetrock/">SheetRock</a> to pull all of the live content from Google Sheets. This lets any member edit content, regardless of web experience.</p>

<p><a href="http://johnpatrickhalling.com/#/">John Patrick Halling</a> – Promo page for musician from Kent, OH. Uses the WP-API to let John manage everything through Wordpress. The Rest API lets us host on Github pages, getting away from WP themes and Ads.</p>

<p><a href="https://github.com/mattfxyz/geopattern-cocoa">GeoPatternsCocoa</a> – Port of Jason Long's Ruby Library for iOS and OS X applications. By using CoreGraphics, it can render faster than wrapping and displaying an SVG.</p>

<p><a href="https://drive.google.com/file/d/0B7PuJOW_s972cTVFR1Q3UEZqbkE/view?usp=sharing">MyPharmasist</a> – Capstone iOS application to manage your prescriptions and learn more about the Ohio State Pharmacy. <span style="color: rgb(187,0,0)">*Waiting on OSU approval*</span></p>

<p>Outside of full projects, I open source some reusable components. Some examples includes a 
<a href="https://github.com/mattfxyz/UITextFieldWithSuffix">better UITextField</a>, 
<a href="https://www.npmjs.com/package/thanksjs">a silly little npm module</a>,
<a href="https://github.com/mattfxyz/CountMySteps">iPhone step counter</a>, as well as some contributions to others' projects</p>

<div class="links">
	<a class="link-standalone extend" href="https://github.com/mattfxyz">Github</a>
	<a class="link-standalone extend" href="http://codepen.io/MattFaluotico/">Codepen</a>
</div>