header {
	position         : fixed;
	display: inline;
	left             : 50%;
	top: 0;
	transform        : translate(-50%, 0);
	-ms-transform    : translate(-50%, 0);
	-webkit-transform: translate(-50%, 0);
	text-align       : center;
	z-index: 1;
	background-color: #2C2C2C;
	width: 100%;
	filter: blur(5px);
}

body {
	background-color: #2C2C2C;
	margin: 0 auto;
}

.content {
	position: relative;
	margin-top: calc(100vh + 100px);
}
.header-img {
	height: 100vh;
	width: auto;
}

h2 {
	text-align: center;
	color: white;
	font-family: 'Gill Sans'
}